@import "tailwindcss";


@theme{
  --color-primary: #304;
  --color-secondary:#ddffdd;
  --color-triary: #dfdf;
  --font-LuckiestGuy: "Luckiest Guy", cursive;
  --font-Delius: "Delius", cursive;
}

@layer base{
  .comp{
    background: url("../src/assets/mehill.png");
    background-size: cover;
    background-position: center;
  }
}


