@import "tailwindcss";


@theme{
  --color-primary: #222831;
  --color-secondary:#393E46;
  --color-triary: #948979;
  --font-LuckiestGuy: "Luckiest Guy", cursive;
  --font-Delius: "Delius", cursive;
}


